src/main/java/com/jianghu/core/func/callSoap/customerImpl.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://customer.ec.business.webservice.liems.luculent.net/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerImplService" targetNamespace="http://customer.ec.business.webservice.liems.luculent.net/">
	<wsdl:documentation>客户接口</wsdl:documentation>
	<wsdl:types>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://customer.ec.business.webservice.liems.luculent.net/" elementFormDefault="unqualified" targetNamespace="http://customer.ec.business.webservice.liems.luculent.net/" version="1.0">
			<xs:element name="insertCustomer" type="tns:insertCustomer"/>
			<xs:element name="insertCustomerResponse" type="tns:insertCustomerResponse"/>
			<xs:complexType name="insertCustomer">
				<xs:sequence>
					<xs:element minOccurs="0" name="customer" type="tns:customer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customer">
				<xs:sequence>
					<xs:element minOccurs="0" name="banka" type="xs:string"/>
					<xs:element minOccurs="0" name="bankn" type="xs:string"/>
					<xs:element minOccurs="0" name="bukrs" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" nillable="true" type="tns:contactsArray"/>
					<xs:element minOccurs="0" name="from" type="xs:string"/>
					<xs:element minOccurs="0" name="ktokd" type="xs:string"/>
					<xs:element minOccurs="0" name="kunnr" type="xs:string"/>
					<xs:element minOccurs="0" name="land1" type="xs:string"/>
					<xs:element minOccurs="0" name="name1" type="xs:string"/>
					<xs:element minOccurs="0" name="ort01" type="xs:string"/>
					<xs:element minOccurs="0" name="pstlz" type="xs:string"/>
					<xs:element minOccurs="0" name="regio" type="xs:string"/>
					<xs:element minOccurs="0" name="stceg" type="xs:string"/>
					<xs:element minOccurs="0" name="stras" type="xs:string"/>
					<xs:element minOccurs="0" name="zzbs" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contacts">
				<xs:sequence>
					<xs:element minOccurs="0" name="name1" type="xs:string"/>
					<xs:element minOccurs="0" name="telf1" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="insertCustomerResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:returnObj"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="returnObj">
				<xs:sequence>
					<xs:element minOccurs="0" name="zremaek" type="xs:string"/>
					<xs:element minOccurs="0" name="zzba" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="contactsArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:contacts"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="insertCustomer">
		<wsdl:part element="tns:insertCustomer" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="insertCustomerResponse">
		<wsdl:part element="tns:insertCustomerResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ICustomer">
		<wsdl:operation name="insertCustomer">
			<wsdl:documentation>插入客户数据</wsdl:documentation>
			<wsdl:input message="tns:insertCustomer" name="insertCustomer"></wsdl:input>
			<wsdl:output message="tns:insertCustomerResponse" name="insertCustomerResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerImplServiceSoapBinding" type="tns:ICustomer">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="insertCustomer">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="insertCustomer">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="insertCustomerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerImplService">
		<wsdl:port binding="tns:CustomerImplServiceSoapBinding" name="CustomerImplPort">
			<soap:address location="http://localhost:8080/Liems/webservice/customerImpl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>